<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.mapper.HouseMapper">

    <select id="FindAllHouse" resultType="House">
        SELECT h.*, t.*, s.*, d.*
        FROM house h
        INNER JOIN type t ON h.type_id = t.tid
        INNER JOIN street s ON h.street_id = s.sid
        INNER JOIN district d ON s.district_id = d.did ORDER BY h.id desc
        <!--查询所有房子-->
    </select>

    <select id="FindOneHouse" resultType="House">
        SELECT * FROM house
        <where>
            <if test="street_id != null and street_id != 0">
                AND street_id = #{street_id}
            </if>
            <if test="type_id != null and type_id != 0">
                AND type_id = #{type_id}
            </if>
            <if test="price1 != null and price2 != null">
                AND price BETWEEN #{price1} AND #{price2}
            </if>
            <if test="floorage1 != null and floorage2 != null">
                AND floorage BETWEEN #{floorage1} AND #{floorage2}
            </if>
        </where>
    </select>


    <select id="FindDetailHouse" resultType="House">
        SELECT h.*, t.*, s.*, d.*
        FROM house h
        INNER JOIN type t ON h.type_id = t.tid
        INNER JOIN street s ON h.street_id = s.sid
        INNER JOIN district d ON s.district_id = d.did
        WHERE h.id = #{id}
        GROUP BY h.id;
        <!--查询房子详细信息-->
    </select>

    <insert id="AddHouse" parameterType="House">
        INSERT INTO
        house(`street_id`,`user_id`,`type_id`,`title`,`descript`,`price`,`pubdate`,`floorage`,`contant`)
        VALUES(#{street_id},#{user_id},#{type_id},#{title},#{descript},#{price},#{pubdate},#{floorage},#{contant})
    </insert>

    <update id="UpdateHouse" parameterType="House">
        update house
        set
        street_id = #{street_id},type_id = #{type_id},title = #{title},
        descript=#{descript},price=#{price},pubdate=#{pubdate},
        floorage=#{floorage},contant=#{contant}
        where id= #{id}
    </update>

    <delete id="DeleteHouse" parameterType="INT">
        DELETE FROM house where id = #{id};
    </delete>
</mapper>